<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.bc.DeviceInfoEndpoint,com.bc.MessageEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>


	<servlet>
		<servlet-name>guestbook</servlet-name>
		<servlet-class>guestbook.GuestbookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>guestbook</servlet-name>
		<url-pattern>/guestbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sign</servlet-name>
		<servlet-class>guestbook.SignGuestbookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sign</servlet-name>
		<url-pattern>/sign</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.bc.search.endpoints.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchWeb</servlet-name>
		<servlet-class>com.bc.search.endpoints.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchWeb</servlet-name>
		<url-pattern>/search/web</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchImage</servlet-name>
		<servlet-class>com.bc.search.endpoints.SearchImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchImage</servlet-name>
		<url-pattern>/search/image</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>searchVideo</servlet-name>
		<servlet-class>com.bc.search.endpoints.SearchVideoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchVideo</servlet-name>
		<url-pattern>/search/video</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>